.webpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  text-align: left;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
head {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  text-align: left;
}

section {
  background-color: #CBE5F2;
  padding-left: 20px;
  padding-top: 40px;
} 


padding: 20px;
padding-bottom: 100px;
float: left;


footer {
  background-color: #ffffff;
  padding-left: 20px;
  color: #000000;
}

h2{
  text-align: center;
}
p{
  padding-left: 20px;
}

a{
  padding-left: 20px;
}

.logo {
  width: 100px;
  position: center;
  top: 1px;
}
.image {
  width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 13px;
}

.drinks{
  padding-bottom: 5px;
}

.wettbewerb {
  border: none;
  align-items: center;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 20%;
}

.wettbewerb:hover {
  background-color: #FEC2C3;
}

nav {
  background-color: #ffffff;
  padding-left: 10px;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #CBE5F2;
  color: #000000;
}


.index{
  background-color: #CBE5F2;
}



.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0px 30px;
}

.row{
  background-color: #CBE5F2;
  padding-top: 5px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

button.spin{
  margin: 20px;
  width: 55px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  text-align: center;
}
button.spin:hover{
  color: #ffffff;
  background-color: #FEC2C3;
}

#submit{
  color: #ffffff;
  background-color: #000000;
}
#submit:hover{
  color: #ffffff;
  background-color: #FEC2C3;
  border: none;
}

#anrede{
  color: #000000;
  background-color: #FEC2C3;
}


/*Gewinnspiel*/
.spinner {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

#spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrow {
  width: 3px;
  height: 50px;
  background-color: #FEC2C3;
  position: relative;
  bottom: -50px; /* adjust this value based on arrow size */
  left: calc(50% - 1.5px); /* half of the width */
  transform-origin: bottom;
  transition: transform 3s ease-out;
}


@media only screen and (min-width: 768px) {
  header {
      padding: 50px;
  }
  nav {
      display: flex;
      justify-content: left;
  }
  nav a {
      margin: 0 10px;
  }
  section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  section div {
      flex-basis: 30%;
      margin: 10px;
  }
}

